%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:urls, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:urls, :new)

.tabs-content
  = form_for :url, url(:urls, :create), :class => 'form-horizontal' do |f|
    =partial 'urls/form', :locals => { :f => f }
