%div{style: 'width: 25em;'}
  .uk-flex.uk-flex-column.uk-width-auto.uk-vertical-align
    %div#registerUrl
      .uk-card.uk-card-default.uk-card-body
        %form#registerUrlForm
          .uk-form-row
            = csrf_token_field
          .uk-form-row
            %label{class: 'uk-form-label', for: 'destination_url'} Destination URL (Required):
            %input{name: 'url', id: 'destination_url', type: 'text', class: 'uk-input', required: ''}
          .uk-form-row
            %label{class: 'uk-form-label', for: 'user_email'} Email (Optional):
            %input{name: 'email', id: 'user_email', type: 'text', class: 'uk-input'}
          .uk-form-row
            %div#recaptcha{ class: 'g-recaptcha', 'data-sitekey': "#{recaptcha_site_key}", style: 'padding: 1em;'}
        %div#formControls{style: 'padding-top: 1em'}
          %button{class: 'uk-button uk-button-primary uk-button-large', onclick: 'submit_url_register_form();', style: 'width: 10em;'} Create
    %div#successfulPost.uk-card.uk-card-default.uk-card-body.uk-margin-top
    %div#unsuccessfulPost.uk-card.uk-card-default.uk-card-body.uk-margin-top
